@model IEnumerable<ECProject.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.slug)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <img src="~/@Html.DisplayFor(modelItem => item.PImage)" width="60px">
            </td>
            <td style="text-overflow: ellipsis;overflow: hidden;width: 7em;white-space:pre-wrap;vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.SDescription)
            </td>
                <td style="text-overflow: ellipsis;display: block;overflow: hidden;width: 9em;">
                @Html.DisplayFor(modelItem => item.LDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.slug)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
